*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-size: 1rem;
}


/*aqui comienza el nav*/

.navbar {
    width: 100%;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav {
    text-align: end;
    padding-right: 10px;
}

.logo, .navbar-brand p{
    position: relative;
    left: 50px;
    font-family: 'Dancing Script', cursive;
}

.tittle_profile, .nav-link{
    color: #104685;
}

.logo{
    width: auto;
    height: 50px;
    margin-top: -10px;
    margin-bottom: 10px;
    
}

.navbar-brand p{    
    color: #104685;
    font-size: 1.6rem;
    margin: 0;
    position: absolute;
    top: 38px;
    left: 62px;
}

/*aqui termina el nav*/

.sec1 {
    margin-top: 150px;
    margin-bottom: 0;
    text-align: center;
    margin-left: 5%;

}

/*
.sec2{
    background-color: #f8f9fa;    
}
*/

body{
    background-image: url("../img/Fondo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sec3{
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
    margin-bottom: 50px;

}



table{
    margin-top: 30px;   
    border-collapse: separate; 
    border-spacing: 0px;
}

.left1{
    border-top-left-radius: 10px;
}
.left2{
    border-bottom-left-radius: 10px;
}
.right1{
    border-top-right-radius: 10px;
}
.right2{
    border-bottom-right-radius: 10px;
}

th, td{
    padding: 10px 10px; 
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: white;
    text-align: center;
}

td:first-child,th:first-child{
    border-left: 1px solid black;
}

th, td{
    padding: 10px 10px; 
}



th{
    text-align: center;
    min-width: 250px;
    border-top: solid 1px black;
}

.columna2 {
    text-align: center;
}

.Sec2{
    margin-top: 0;
    margin-left: 50%;
    margin-bottom: 200px;    
}

/* modal formulario */

.formulario {
    padding: 0 30px;
    padding-bottom: 10px;
}

.formulario p {
    margin-top: 15px;
    margin-bottom: 0px;
}

.formulario input{
    width: 100%;
    height: 40px;
}

/* fin modal formulario */



footer {
    background-color: rgba(186, 199, 210, 0.384);
}

.footer_sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0;
}

footer a{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

footer img{
    width: auto;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}


@media (min-width: 993px) {
    .navbar-nav {
        gap: 100px;
        justify-content: start;
        text-align: center;
    }
}

