*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-size: 1rem;
}


/*aqui comienza el nav*/

.navbar {
    width: 100%;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav {
    text-align: end;
    padding-right: 10px;
}

.logo, .navbar-brand p{
    position: relative;
    left: 50px;
}

/*aqui termina el nav*/

.sec1 {
    width: 100%;
    height: 600px;
    padding-top: 56px;
}

.sec1 img {
    width: 100%;
    height: 100%;
}

.sec2{
    background-color: #f8f9fa;
}

.sec2_cont {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
}

.targetas_cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px;
}

h1 {
    margin: 30px;
    text-align: center;
}

.card{
    margin-top: 20px;
}

.aprn {
    font-size: 1.2rem;
}



footer {
    background-color: rgb(186, 199, 210);
}

.footer_sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 50px 0;
}

footer a{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

footer img{
    width: auto;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}


@media (min-width: 993px) {
    .navbar-nav {
        gap: 100px;
        justify-content: start;
        text-align: center;
    }
}

